<div id="mySidebar" class="sidebar fontClass" #navbar><span style="float:left"></span>
  <!-- <a href="javascript:void(0)" class="closebtn" (click)="closeNav()"><i class="fa fa-angle-left"></i></a> -->
  <a href="javascript:void(0)"><i class="fa fa-star pr-3 " style="font-size:22px" aria-hidden="true"></i>
    Favorite</a>
  <a href="javascript:void(0)"><i class="fa fa-clock-o pr-3 " style="font-size:22px" aria-hidden="true"></i>
    Recent
    Document</a>
  <a href="javascript:void(0)"><i class="fa fa-folder pr-3 " style="font-size:22px"></i> Files</a>
  <a href="javascript:void(0)" class="fontClass">
    <div class="dropdown">
      <i class="fa fa-th pr-3 " style="font-size:22px"></i> <span class=" dropdown-toggle" data-toggle="dropdown">
        More
      </span>
    </div>
  </a>
</div>